@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Rubik:wght@400;500;700&family=Space+Mono:wght@700&display=swap");

@media only screen and (min-width: 1110px) {
  .website {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }

  .container {
    font-family: "Rubik", sans-serif;
    width: 100%;
    background-color: white;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1109px) {
  .website {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }

  .container {
    font-family: "Rubik", sans-serif;
    width: 100%;
    background-color: white;
    margin: 0 auto;
  }
}
